body {
    background-color: rgb(235, 224, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#tablero {
    width: 400px;
    height: 400px;
}

.cuadrado {
    width: 50px; 
    height: 50px; 
    background: transparent;
}

button {
    outline: none;
    border: none;
}

td {
    width: 50px;
    height: 50px;
}

.b {
    background-color: black;
}

.w {
    background-color: white;
}